input {
    display: block;
    width: 100%;
    margin-bottom: 20px !important;
    border: 2px solid var(--disabled-bgc);
    background-color: transparent;

    &:last-child {
      margin-bottom: 40px !important;
    }

    &:is(:hover, :focus) {
      border-color: var(--prime-color);
    }
  }
